<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/salescrm</property>
    <property name="hibernate.connection.username">salescrm</property>
    <property name="hibernate.connection.password">salescrm123</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>
    <mapping class="com.sales.crm.model.Address" />
    <mapping class="com.sales.crm.model.Customer" />
    <mapping class="com.sales.crm.model.Reseller" />
    <mapping class="com.sales.crm.model.Employee" />
    <mapping class="com.sales.crm.model.SalesExec" />
</session-factory>
</hibernate-configuration>